/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
body {
  margin: 0;
  overflow-y: auto;  /*pour enlever le scroll*/
  overflow-x: hidden; /*pour enlever le scroll*/
  height: calc(100vh - 100px); /*evite que le fond bouge au scroll*/

}
.logo{
    width: 130px;
    height: 70px; 
} 
  /*menu burger general*/
  
    /* Menu navigation */
.btn-navigation{
  position: fixed;
  right: 30px;
  top: 30px;
  z-index: 20;
  cursor: pointer;
}
.btn-navigation .barre{
  width: 30px;                            /*montre que c'est cliquable*/
  height: 3px;
  background: #111;
  margin-top: 3px;         

    transition: background-color .3s ease-in-out;       /*effet doux*/
    -webkit-transition: transform .6s ease-in-out; 
}
  .btn-navigation .barre.white{
      background: gray;   
}
.navigation{   /*mise en p burger*/
  position: fixed;
  right: 0;
  padding: 0 30px;
  background:#ffe6e6; 

  width: 15%;
  height: 100%;
  top: 0;
  z-index: 10;

      transition: transform .6s ease-in-out;       /*effet doux*/
       -webkit-transition: transform .6s ease-in-out;       /*linéaire*/
             
       transform: translateX(100%);                /* menu complètement caché*/
        -webkit-transform: translateX(100%);
}
.navigation.isOpen{                            /*changement d'état de la navigation*/
      transform: translateX(0%);  
      -webkit-transform: translateX(0%);
}
.navigation ul{
  position: absolute;
  top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      font-family: 'Roboto Condensed', sans-serif;
}
.navigation ul li{
  margin: 10px 0; 
  list-style: none;
              
}
.navigation ul li a{
  text-transform: uppercase;
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: .030em;  
  color: black;
}   
.navigation ul li a:hover{  
  background: white;
              
}   
   /*curseur*/

.curseur {
  position: fixed;
  right: 0;
  top: 50%;
  width: 8em;
  margin-top: -2.5em;
}
   /*content*/
  
article, aside, footer, header, nav, section, figcaption, figure, main {
    display: block;
  
}
  figure {
    margin: 1em 40px;
  }
  [hidden] {
    display: none;
}
  /* Columns and layout */
* {
  box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
#__bs_notify__ {
    display: none !important;
}
main {
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 1280px;
    width: 100%;
}
.module {
    margin: 8rem 0;
    padding: 2rem;
}
.flex-grid {
    display: flex;
    justify-content: center;
}
.col {
    flex: 1;
    padding: 2rem;
    position: relative;
}
.col:nth-child(n+1) {
    margin-left: 2rem;
}
.col:last-child {
    margin-right: 2rem;
}
.col.vertical-align {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.single-column .col {
    margin-left: auto;
    margin-right: auto;
    max-width: 60rem;
    width: 100%;
}
 
  /* Text styles */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
  }
  html {
    background: #F9FCFF;
    color: #333;
    font-size: 10px;
    font-family: 'Avenir Next', Open Sans, sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
  body {
    font-size: 1.8rem;
}
  h2, h3 {
    margin-bottom: 0;
  }
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 2.4rem;
}
h3 {
    font-size: 1.8rem;
}
h4, h5 {
  font-size: 1.4rem;
  text-transform: uppercase;
}
p, li {
  font-size: 1.8rem;
  line-height: 1.5;
}
a {
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
footer {
  background: #333;
  color: #fff;
  padding: 6rem;
  text-align: center;

}
footer a {
    color: #fff;
}
footer ul {
  margin: 0;
  padding: 0;
}
footer li {
  display: inline-block;
  margin: 0;
}
footer li::before {
  content: "\2022 \A0";
}
footer li:first-child::before {
  content: "";
}
  /* Custom styling for the content */
.rocky-image {
  width: 100%;
  max-width: 54rem;
}
.badge {
  border-radius: 50%;
  background: green;
  display: flex;
  flex-shrink: 0;
  height: 10rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-width: 10rem;
  width: 10rem;
  position: relative;
  box-shadow: 0 .2rem .1rem .1rem rgba(0,0,0,0.2);
}
.badge::before {
  border-radius: 50%;
  content: "";
  position: absolute;
  top: 2.5px;
  right: 2.5px;
  bottom: 2.5px;
  left: 2.5px;
  border: 6px solid #fff;
}
.badge.first {
  background: red;
}
.badge.third {
  background: yellow;
}
.rocky-badge {
  height: 70px;
  z-index: 10;
}
.rocky-image-small {
  width: 150%;
  margin-left: -2rem;
}
.options {
  margin: 8em 0;
}
.options .option {
  border-radius: .2em;
  border: 1px solid transparent;
}
.options .badge, .options h2, .options p {
  position: absolute;
  left: 20%;
  right: 20%;
}
.options .more-info {
  left: 10%;
  right: 10%;
}
.options .call-to-action {
  display: inline-block;
  margin: 1em auto;
}
.options h2 {
  top: 5em;
}
.options p {
  top: 7em;
  max-width: 80%;
}
.options .col {
  height: 18em;
  margin: 2em 0;
  text-align: center;
  width: 20em;
}
.options .col p:nth-child(2) {
  flex-grow: 1;
}
.section-title {
    text-align: center;
}
.button {
  background: #269300;
  border-radius: .25em;
  color: #fff;
  display: inline-block;
  padding: .25em .5em;
  margin: 0 auto;
  text-align: center;
} 
html, body {
  background: #fee;
  color: #19292E;
}
a {
  text-decoration: underline;
}
.content {
  margin: 4em auto;
  max-width: 740px;
  width: 80%;
}
h2 {
  font-size: 4em;
}
h3 {
  font-size: 3em;
}
p, ul {
  font-size: 1.5em;}
  
li {
  font-size: 1em;
} 
header {
  height: 40vh;
  position: relative;
}
header:after {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.heading {
  color: black;
  font-size: 4em;
  left: 40%;
  line-height: 1;
  margin: 0;
  position: absolute;
  text-shadow: 0 2px 10px rgba(255,255,255,.5);
  top: 70%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  width: 5em;
  z-index: 10;
} 


/*curseur*/
.middle{
  position: fixed;
  top:65%;
  left: 15%;
  transform: translate(-50%,-50%); 
  z-index: 1000;  
}
.mouse{
  width: 50px;
  height: 120px;
  border: 2.5px solid #333;
  border-radius: 60px; 
}
.mouse::before{
  content: "";
  width: 20px;
  height: 20px;
  position: fixed;
  top: 25px;
  background: #333;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  opacity: 1;
  animation: mouse 3s infinite;    
}
@keyframes mouse {
  from{
    opacity: 1;
    top:15px;
 }
  to{
  opacity: 0;
  top: 100px;
  }
}
/* fin curseur*/
.main-photo {
  /* background: url(../images/photo900.png); */
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 0 30em 5em rgba(255,255,255,.5);
    -webkit-filter: blur(2px);
            filter: blur(2px);
  height: 20em;
  left: calc(50% - 25em);
  position: absolute;
  top: calc(50% - 25.5em);
  width: 20em;
}
  /* bouton cv*/
.bouton a {
  display:block;
  width:150px;
  line-height:50px;
  text-align:center;
  background:url(../images/rose2.jpg) no-repeat;
  color:white;
  text-decoration:none;
}
.bouton a:hover {
  background:url(../images/rose.png) no-repeat;
  color: #000;
}   
  /* Formulaire - grid */
body {font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
}
  
input[type=text], textarea, input[type=email] {
  width: 95%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-right: 0px;
  margin-left: 12px;
  resize: vertical;
}
label{margin-right: 0px;
  margin-left: 24px;
  width: 100%;
}
input[type=submit] {
  background-color: #f9d9da;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}  
  input[type=submit]:hover {
  background-color: #f9d9da;  
}
  
.inline-photo show-on-scroll{
    /* Ajouter box-sizing */
  box-sizing : border-box;
  border-radius:5px;
  background-color:#f2f2f2;
  padding:20px;
  width: 100%;
  /* redéfinition :400 + 2*20; */
  max-width: 440px;
  margin:0 auto;
}
h1{
  color: #000;
  width: 100%; 
}
.envoyer{
 
  margin-bottom: 2%; 
  margin-left: 2%;
  color: #000;
  font-size: 0.9em;
}

/*rgpd*/
.rgpd1{
  display: flex;
  align-items: center; 
  margin-left: 1%;
  width: 95%;
  font: 1.6rem Helvetica, sans-serif;
  color: #000; 
  line-height: 20px;
  margin-bottom: 8%; 
}  
#daccord{
  margin-left: 1%;
  margin-bottom: 4%;
}
 /*contacts*/
#sect1 p{
  text-align: left;
} 
.sect2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.contacts{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  width:85%;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
} 
span{
  font-style: italic;
}
.tel span {
	visibility: hidden;
}

.tel img:hover + span {
	visibility: visible;
}
.tel1{
  font-size: 20px;
  padding: 10px;
}
  /*retour ht de page*/
#scrollUp{
position: fixed;
bottom : 10px;
right: -100px;
opacity: 0.5;


}

/*merci*/

@keyframes spin {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(1turn);
  }
}

.card {
  animation: spin 7s ease;
  animation-iteration-count: infinite;
}

/* .container {
  perspective: 30000px;
} */
.card--text{
  color: gray;
  margin-left: 20%;
  margin-right: 0;
  
}
.vide{
  height: 130px;
}
    /*responsive*/
@media all and (max-width:780px){  
 
.flex-grid {
  display: block;
}
.single-column .col {
  margin: 2rem;
  width: auto;
}
.competences{
  width: 100%;
}
h1.heading{
  font-size: 3em;
}
.contacts{
  flex-direction: column;
  width: 100%;
} 
.face{
  width: 50px; 
}
.twitter{
  width: 50px; 
}
.phone{
  width: 50px; 
}
header {
  height: 20vh;
  position: relative;
}
.navigation ul li a{  
  font-size: 18px;
  font-weight: 90; 
}   
.navigation{
  width:45%;  
}
.logo{
  width: 150px;
  height: 70px; 
}
.card--text{
  margin-right: 10px;
  left: 0;
  font-size: 20px; 
  }
.middle{
    display: none;
  }
.rgpd1{
  display: flex;
  align-items: center; 
  width: 95%;
  font: 1.6rem Helvetica, sans-serif;
  color: #000; 
  line-height: 20px;
  margin-bottom: 8%; 
}  
#daccord{
  margin-left: 2%;  
  margin-bottom: 19%;
}

}


